In [207]:
# Importing necessary models
import warnings
warnings.filterwarnings('ignore')

import smtplib
import pandas as pd
import numpy as np
import datetime as dt
import pandas.stats.moments as st
import time
%matplotlib inline
from bs4 import BeautifulSoup as bs
import requests
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from sqlalchemy import *
from sqlalchemy import create_engine
import calendar
import sqlite3 as sql
pd.options.display.float_format = '{:,.4f}'.format
from scipy.stats import norm as norm
from pandas_datareader.data import Options
import py_vollib.black.greeks.analytical as py_greeks


# from alpha_vantage.timeseries import TimeSeries
#ts = TimeSeries(key='5HZEUI5AFJB06BUK',output_format='pandas')
#key2 = '6ZAZOL7YF8VPXND7'

init_notebook_mode(connected=True)

import os
main_dir = os.getcwd()

os.chdir('C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Trading\\Modules\\RetiredModules')

from helpers import maturities

os.chdir('C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Trading\\Modules\\DataCollection')

cleaned_dir = 'D:\\Options Data\\Monthly DBs'

from alphavantage import *
from yahoo_query import *

In [2]:
vol_window = 5
market_close_hour = 13

def expiration_options_price(vol_window, market_close_hour, use_iv = 'prices'):

    spx_ticker = '^GSPC'
    spx_minutely = yahoo_query(spx_ticker, dt.datetime(2018,1,1))
    spx_minutely.minute_query()
    spx_minutely = spx_minutely.minute_prices
    spx_minutely.columns = [col.replace('^', '') for col in spx_minutely.columns.tolist()]
    spx_minutely['returns'] = np.log(spx_minutely.GSPC_close) - np.log(spx_minutely.GSPC_close.shift(1))

    vix_ticker = '^VIX'
    vix_minutely = yahoo_query(vix_ticker, dt.datetime(2018,1,1))
    vix_minutely.minute_query()
    vix_minutely = vix_minutely.minute_prices
    vix_minutely.columns = [col.replace('^', '') for col in vix_minutely.columns.tolist()]

    current_minute_vol = spx_minutely.returns.rolling(vol_window).std().tail(1).values[0]
    latest_vix = vix_minutely.dropna().tail(1).VIX_close.values[0]
    latest_stdev = latest_vix/(100*np.sqrt(252))

    latest_spx = spx_minutely.dropna().tail(1).GSPC_close.values[0]
    latest_range = [latest_spx*(1 - 2*latest_stdev), latest_spx*(1 + 2*latest_stdev)]
    strike_range = list(range(int(np.floor(latest_range[0]/10)*10), int(np.ceil(latest_range[1]/10)*10) + 5,5))

    current_time = dt.datetime.now()
    market_close = dt.datetime(current_time.year, current_time.month, current_time.day, market_close_hour, 0)

    minutes_to_close = (market_close - current_time).seconds/60

    raw_chain = pd.DataFrame({'Strike': strike_range})
    raw_chain['Underlying_Price'] = latest_spx
    
    if type(use_iv) == str:
        raw_chain['IV'] = current_minute_vol
    else:
        raw_chain['IV'] = use_iv
    raw_chain['MTE'] = minutes_to_close

    options_df = raw_chain.copy()
    options_df['sigma_sqrt_T'] = np.sqrt(options_df.MTE)*options_df.IV
    options_df['d1'] = (np.log(options_df.Underlying_Price/options_df.Strike) + ((options_df.IV**2)/2)*options_df.MTE)/(options_df.IV*np.sqrt(options_df.MTE))
    options_df['d2'] = options_df.d1 - options_df.sigma_sqrt_T
    options_df['Nd1'] = norm.cdf(options_df.d1)
    options_df['Nd2_PV'] = norm.cdf(options_df.d2)*options_df.Strike

    options_df['Call_Price'] = np.round(options_df.Nd1*options_df.Underlying_Price - options_df.Nd2_PV, 2)

    options_df['Put_Price'] = np.round(options_df.Call_Price + options_df.Strike - options_df.Underlying_Price, 2)

    options_df = options_df[['Strike','Underlying_Price','IV','MTE','Call_Price','Put_Price']].set_index('Strike')
    return options_df, spx_minutely, vix_minutely

In [84]:
vol_window = 60
market_close_hour = 13
use_iv = 0.0005
minutes = 97740
options_df, spx_minutely, vix_minutely = expiration_options_price(vol_window, market_close_hour, use_iv)

downs = spx_minutely[spx_minutely.returns < 0][['returns']]
ups = spx_minutely[spx_minutely.returns > 0][['returns']]

spx_bands = spx_minutely[['GSPC_close']].join(vix_minutely[['VIX_close']]).dropna()


current_time = spx_bands.index[-1] - dt.timedelta(seconds = 60*60*4)
market_close = dt.datetime(current_time.year, current_time.month, current_time.day, market_close_hour, 0)

minutes_to_close = (market_close - current_time).seconds/60
days_to_close = minutes_to_close/390

spx_bands['UB'] = (1 + spx_bands['VIX_close']/(100*np.sqrt(252/days_to_close)))*spx_bands.GSPC_close
spx_bands['LB'] = (1 - spx_bands['VIX_close']/(100*np.sqrt(252/days_to_close)))*spx_bands.GSPC_close

spx_bands

                     GSPC_close  VIX_close         UB         LB
2019-01-11 10:31:00  2,582.7000    20.0600 2,585.0371 2,580.3628
2019-01-11 10:32:00  2,582.9500    20.0700 2,585.2885 2,580.6114
2019-01-11 10:33:00  2,583.5100    20.0500 2,585.8467 2,581.1733
2019-01-11 10:34:00  2,584.5601    20.0200 2,586.8942 2,582.2259
2019-01-11 10:35:00  2,583.6201    20.0000 2,585.9511 2,581.2891
2019-01-11 10:36:00  2,583.1399    19.9600 2,585.4658 2,580.8140
2019-01-11 10:37:00  2,582.2600    20.0200 2,584.5921 2,579.9279
2019-01-11 10:38:00  2,583.0601    19.9600 2,585.3859 2,580.7342
2019-01-11 10:39:00  2,582.1799    20.0400 2,584.5143 2,579.8456
2019-01-11 10:41:00  2,582.4500    19.9900 2,584.7787 2,580.1212
2019-01-11 10:42:00  2,581.6899    20.0500 2,584.0250 2,579.3549
2019-01-11 10:43:00  2,579.6001    20.1100 2,581.9403 2,577.2599
2019-01-11 10:44:00  2,580.2300    20.1600 2,582.5765 2,577.8834
2019-01-11 10:45:00  2,581.6799    20.0500 2,584.0150 2,579.3449
2019-01-11 10:46:00  2,583.6599    19.9800 2,585.9886 2,581.3312
2019-01-11 10:47:00  2,582.3401    19.8500 2,584.6525 2,580.0277
2019-01-11 10:48:00  2,581.9500    19.8800 2,584.2655 2,579.6344
2019-01-11 10:49:00  2,582.2100    19.8900 2,584.5269 2,579.8931
2019-01-11 10:50:00  2,581.3201    19.8800 2,583.6350 2,579.0051
2019-01-11 10:51:00  2,579.6101    19.9800 2,581.9352 2,577.2851
2019-01-11 10:52:00  2,578.8501    20.0300 2,581.1803 2,576.5199
2019-01-11 10:53:00  2,579.6101    20.0000 2,581.9375 2,577.2827
2019-01-11 10:54:00  2,578.4900    19.9900 2,580.8152 2,576.1648
2019-01-11 10:55:00  2,577.5801    20.0100 2,579.9068 2,575.2534
2019-01-11 10:56:00  2,578.3999    20.0700 2,580.7343 2,576.0655
2019-01-11 10:57:00  2,579.1299    20.0200 2,581.4592 2,576.8006
2019-01-11 10:58:00  2,580.5901    19.9900 2,582.9172 2,578.2630
2019-01-11 10:59:00  2,582.6499    19.9400 2,584.9730 2,580.3268
2019-01-11 11:00:00  2,582.1001    19.8000 2,584.4064 2,579.7938
2019-01-11 11:01:00  2,581.8101    19.7600 2,584.1115 2,579.5087
...                         ...        ...        ...        ...
2019-01-11 16:28:00  2,589.9800    18.6000 2,592.1531 2,587.8068
2019-01-11 16:29:00  2,589.5801    18.5900 2,591.7517 2,587.4084
2019-01-11 16:30:00  2,589.9600    18.6200 2,592.1354 2,587.7845
2019-01-11 16:31:00  2,590.6001    18.6000 2,592.7738 2,588.4264
2019-01-11 16:32:00  2,591.7800    18.5600 2,593.9500 2,589.6100
2019-01-11 16:33:00  2,591.1699    18.5000 2,593.3324 2,589.0075
2019-01-11 16:34:00  2,592.3501    18.5100 2,594.5147 2,590.1855
2019-01-11 16:35:00  2,592.2700    18.4700 2,594.4299 2,590.1101
2019-01-11 16:36:00  2,593.1599    18.4500 2,595.3182 2,591.0016
2019-01-11 16:37:00  2,594.3799    18.3900 2,596.5322 2,592.2276
2019-01-11 16:38:00  2,594.3401    18.3400 2,596.4865 2,592.1937
2019-01-11 16:39:00  2,594.2500    18.3400 2,596.3963 2,592.1037
2019-01-11 16:40:00  2,594.4700    18.3400 2,596.6165 2,592.3235
2019-01-11 16:41:00  2,594.9199    18.3200 2,597.0645 2,592.7754
2019-01-11 16:42:00  2,595.0300    18.3100 2,597.1735 2,592.8866
2019-01-11 16:44:00  2,594.3799    18.3100 2,596.5228 2,592.2370
2019-01-11 16:45:00  2,594.9800    18.3300 2,597.1257 2,592.8342
2019-01-11 16:46:00  2,595.6299    18.3100 2,597.7738 2,593.4859
2019-01-11 16:47:00  2,595.9099    18.2900 2,598.0517 2,593.7681
2019-01-11 16:48:00  2,595.3301    18.2900 2,597.4714 2,593.1887
2019-01-11 16:49:00  2,595.6001    18.2500 2,597.7370 2,593.4632
2019-01-11 16:50:00  2,595.8401    18.2500 2,597.9772 2,593.7030
2019-01-11 16:51:00  2,595.8999    18.2500 2,598.0370 2,593.7628
2019-01-11 16:52:00  2,595.9600    18.2600 2,598.0983 2,593.8216
2019-01-11 16:53:00  2,595.1599    18.2700 2,597.2988 2,593.0210
2019-01-11 16:54:00  2,594.4399    18.3100 2,596.5829 2,592.2970
2019-01-11 16:55:00  2,595.2400    18.2400 2,597.3754 2,593.1046
2019-01-11 16:56:00  2,595.5400    18.2100 2,597.6722 2,593.4079
2019-01-11 16:57:00  2,595.1799    18.2300 2,597.3141 2,593.0457
2019-01-11 16:58:00  2,594.2900    18.2400 2,596.4247 2,592.1554

[372 rows x 4 columns]

# Analysis of Minutely Time Series and Options at Expiration

In [15]:
v1 = pd.read_csv('https://www.quandl.com/api/v3/datasets/CHRIS/CBOE_VX1.csv?api_key=dzmzEExntfap7SNx5p6t', index_col = 0)[['Open','Close']].sort_index()
v2 = pd.read_csv('https://www.quandl.com/api/v3/datasets/CHRIS/CBOE_VX2.csv?api_key=dzmzEExntfap7SNx5p6t', index_col = 0)[['Open','Close']].sort_index()
vix = pd.read_csv('http://www.cboe.com/publish/scheduledtask/mktdata/datahouse/vixcurrent.csv', skiprows=[0], index_col = 0)
vix.index = pd.to_datetime(vix.index)
v_df = vix.join(v1.join(v2, lsuffix = '_F1', rsuffix = '_F2').dropna()).dropna()
v_df['Front_Weights'] = np.nan
v_df['Back_Weights'] = np.nan

for index, row in v_df.iterrows():
    weights = maturities(index.date())
    front_weight = weights[0]
    back_weight = weights[1]
    v_df.loc[index, 'Front_Weights'] = front_weight
    v_df.loc[index, 'Back_Weights'] = back_weight

In [24]:
vix_term = v_df[list(filter(lambda x: 'Open' in x or 'Weight' in x, v_df.columns.tolist()))]
vix_term['Contango_Ratio'] = vix_term.Front_Weights*(vix_term['VIX Open']/vix_term.Open_F1) + vix_term.Back_Weights*(vix_term.Open_F1/vix_term.Open_F2)
vix_term = vix_term[vix_term.index >= dt.datetime(2018,7,30)]

In [141]:
os.chdir(cleaned_dir)

vix_intraday = pd.read_csv('vix_intraday.csv', index_col = 0).set_index('Quote_Time')
vix_intraday.index = pd.to_datetime(vix_intraday.index)
vix_intraday = vix_intraday[~vix_intraday.index.duplicated(keep='last')].sort_index()

spx_intraday = []
for curr_date in [dt.datetime(2018,x,1) for x in range(7,13)] + [dt.datetime(2019,1,1)]:
    db_name = 'sqlite:///intraday_{0}-{1}.db'.format(curr_date.year,curr_date.month)
    options_engine = create_engine(db_name, echo=False)
    latest_spx = pd.read_sql_query('SELECT * FROM spx_prices', con = options_engine, index_col = 'index')
    latest_spx.index = pd.to_datetime(latest_spx.index)
    spx_intraday.append(latest_spx)

spx_intraday = pd.concat(spx_intraday, axis = 0)
spx_intraday['Date'] = spx_intraday.index.date

tol = pd.Timedelta('180 second')
index_intraday = pd.merge_asof(left=latest_spx,right=vix_intraday,
                               right_index=True,
                               left_index=True,
                               direction='nearest',
                               tolerance=tol).dropna()
index_intraday.columns = ['SPX','VIX','Date']
index_intraday[index_intraday.index >= dt.datetime(2019,1,1)]

                           SPX     VIX        Date
index
2019-01-02 09:31:00 2,471.3500 27.5800  2019-01-02
2019-01-02 09:32:00 2,473.4100 27.5800  2019-01-02
2019-01-02 09:33:00 2,471.1000 27.5800  2019-01-02
2019-01-02 09:34:00 2,471.7800 27.5800  2019-01-02
2019-01-02 09:35:00 2,471.2500 27.5800  2019-01-02
2019-01-02 09:36:00 2,468.7800 27.5800  2019-01-02
2019-01-02 09:37:00 2,471.8200 27.4700  2019-01-02
2019-01-02 09:38:00 2,474.5900 27.4700  2019-01-02
2019-01-02 09:39:00 2,471.9300 27.4700  2019-01-02
2019-01-02 09:40:00 2,473.1700 27.4700  2019-01-02
2019-01-02 09:41:00 2,470.9400 27.2100  2019-01-02
2019-01-02 09:42:00 2,474.2600 27.2100  2019-01-02
2019-01-02 09:43:00 2,474.3600 27.2100  2019-01-02
2019-01-02 09:44:00 2,476.0800 27.2100  2019-01-02
2019-01-02 09:45:00 2,476.9500 26.9200  2019-01-02
2019-01-02 09:46:00 2,479.5500 26.9200  2019-01-02
2019-01-02 09:47:00 2,477.8400 26.9200  2019-01-02
2019-01-02 09:48:00 2,480.6400 26.9200  2019-01-02
2019-01-02 09:49:00 2,478.5700 26.9200  2019-01-02
2019-01-02 09:50:00 2,479.4500 26.9200  2019-01-02
2019-01-02 09:51:00 2,480.4500 26.8600  2019-01-02
2019-01-02 09:52:00 2,479.0500 26.8600  2019-01-02
2019-01-02 09:53:00 2,477.1600 26.8600  2019-01-02
2019-01-02 09:54:00 2,475.8100 26.8600  2019-01-02
2019-01-02 09:55:00 2,477.2600 26.8600  2019-01-02
2019-01-02 09:56:00 2,478.1200 26.8600  2019-01-02
2019-01-02 09:57:00 2,479.3000 26.8900  2019-01-02
2019-01-02 09:58:00 2,479.4100 26.8900  2019-01-02
2019-01-02 09:59:00 2,479.2500 26.8900  2019-01-02
2019-01-02 10:00:00 2,479.2500 26.8900  2019-01-02
...                        ...     ...         ...
2019-01-11 15:31:00 2,589.9600 18.6200  2019-01-11
2019-01-11 15:32:00 2,590.6000 18.6200  2019-01-11
2019-01-11 15:33:00 2,591.7800 18.4700  2019-01-11
2019-01-11 15:34:00 2,591.2700 18.4700  2019-01-11
2019-01-11 15:35:00 2,592.4600 18.4700  2019-01-11
2019-01-11 15:36:00 2,592.3500 18.4700  2019-01-11
2019-01-11 15:37:00 2,593.8400 18.4700  2019-01-11
2019-01-11 15:38:00 2,594.5100 18.3400  2019-01-11
2019-01-11 15:39:00 2,594.3400 18.3400  2019-01-11
2019-01-11 15:40:00 2,594.3800 18.3400  2019-01-11
2019-01-11 15:41:00 2,594.4700 18.3400  2019-01-11
2019-01-11 15:42:00 2,594.9100 18.3400  2019-01-11
2019-01-11 15:43:00 2,595.0900 18.3300  2019-01-11
2019-01-11 15:44:00 2,594.4900 18.3300  2019-01-11
2019-01-11 15:45:00 2,594.8600 18.3300  2019-01-11
2019-01-11 15:46:00 2,595.0500 18.3300  2019-01-11
2019-01-11 15:47:00 2,595.8300 18.3300  2019-01-11
2019-01-11 15:48:00 2,595.7400 18.2500  2019-01-11
2019-01-11 15:49:00 2,595.5000 18.2500  2019-01-11
2019-01-11 15:50:00 2,595.8100 18.2500  2019-01-11
2019-01-11 15:51:00 2,595.8900 18.2500  2019-01-11
2019-01-11 15:52:00 2,595.7400 18.3100  2019-01-11
2019-01-11 15:53:00 2,595.9000 18.3100  2019-01-11
2019-01-11 15:54:00 2,595.1000 18.3100  2019-01-11
2019-01-11 15:55:00 2,595.5600 18.3100  2019-01-11
2019-01-11 15:56:00 2,595.2600 18.3100  2019-01-11
2019-01-11 15:57:00 2,595.4800 18.3100  2019-01-11
2019-01-11 15:58:00 2,594.9700 18.1800  2019-01-11
2019-01-11 15:59:00 2,594.8600 18.1800  2019-01-11
2019-01-11 16:00:00 2,596.0200 18.1800  2019-01-11

[3118 rows x 3 columns]

In [6]:
curr_date = dt.datetime(2019,1,1)

db_name = 'sqlite:///intraday_{0}-{1}.db'.format(curr_date.year,curr_date.month)
options_engine = create_engine(db_name, echo=False)

In [82]:
query = 'SELECT * FROM spx_{} WHERE DTE = 0'


options_engine.table_names()

latest_calls = pd.read_sql_query(query.format('calls'), con = options_engine, index_col = 'quoteTime')
latest_calls.index = pd.to_datetime(latest_calls.index) - dt.timedelta(hours = 1)
latest_calls = latest_calls[abs(latest_calls['Underlying_Price'] - latest_calls['Strike']) <= 100]

latest_puts = pd.read_sql_query(query.format('puts'), con = options_engine, index_col = 'quoteTime')
latest_puts.index = pd.to_datetime(latest_puts.index) - dt.timedelta(hours = 1)
latest_puts = latest_puts[abs(latest_puts['Underlying_Price'] - latest_puts['Strike']) <= 100]

In [85]:
index_intraday

                           SPX     VIX        Date
index
2019-01-02 09:31:00 2,471.3500 27.5800  2019-01-02
2019-01-02 09:32:00 2,473.4100 27.5800  2019-01-02
2019-01-02 09:33:00 2,471.1000 27.5800  2019-01-02
2019-01-02 09:34:00 2,471.7800 27.5800  2019-01-02
2019-01-02 09:35:00 2,471.2500 27.5800  2019-01-02
2019-01-02 09:36:00 2,468.7800 27.5800  2019-01-02
2019-01-02 09:37:00 2,471.8200 27.4700  2019-01-02
2019-01-02 09:38:00 2,474.5900 27.4700  2019-01-02
2019-01-02 09:39:00 2,471.9300 27.4700  2019-01-02
2019-01-02 09:40:00 2,473.1700 27.4700  2019-01-02
2019-01-02 09:41:00 2,470.9400 27.2100  2019-01-02
2019-01-02 09:42:00 2,474.2600 27.2100  2019-01-02
2019-01-02 09:43:00 2,474.3600 27.2100  2019-01-02
2019-01-02 09:44:00 2,476.0800 27.2100  2019-01-02
2019-01-02 09:45:00 2,476.9500 26.9200  2019-01-02
2019-01-02 09:46:00 2,479.5500 26.9200  2019-01-02
2019-01-02 09:47:00 2,477.8400 26.9200  2019-01-02
2019-01-02 09:48:00 2,480.6400 26.9200  2019-01-02
2019-01-02 09:49:00 2,478.5700 26.9200  2019-01-02
2019-01-02 09:50:00 2,479.4500 26.9200  2019-01-02
2019-01-02 09:51:00 2,480.4500 26.8600  2019-01-02
2019-01-02 09:52:00 2,479.0500 26.8600  2019-01-02
2019-01-02 09:53:00 2,477.1600 26.8600  2019-01-02
2019-01-02 09:54:00 2,475.8100 26.8600  2019-01-02
2019-01-02 09:55:00 2,477.2600 26.8600  2019-01-02
2019-01-02 09:56:00 2,478.1200 26.8600  2019-01-02
2019-01-02 09:57:00 2,479.3000 26.8900  2019-01-02
2019-01-02 09:58:00 2,479.4100 26.8900  2019-01-02
2019-01-02 09:59:00 2,479.2500 26.8900  2019-01-02
2019-01-02 10:00:00 2,479.2500 26.8900  2019-01-02
...                        ...     ...         ...
2019-01-11 15:31:00 2,589.9600 18.6200  2019-01-11
2019-01-11 15:32:00 2,590.6000 18.6200  2019-01-11
2019-01-11 15:33:00 2,591.7800 18.4700  2019-01-11
2019-01-11 15:34:00 2,591.2700 18.4700  2019-01-11
2019-01-11 15:35:00 2,592.4600 18.4700  2019-01-11
2019-01-11 15:36:00 2,592.3500 18.4700  2019-01-11
2019-01-11 15:37:00 2,593.8400 18.4700  2019-01-11
2019-01-11 15:38:00 2,594.5100 18.3400  2019-01-11
2019-01-11 15:39:00 2,594.3400 18.3400  2019-01-11
2019-01-11 15:40:00 2,594.3800 18.3400  2019-01-11
2019-01-11 15:41:00 2,594.4700 18.3400  2019-01-11
2019-01-11 15:42:00 2,594.9100 18.3400  2019-01-11
2019-01-11 15:43:00 2,595.0900 18.3300  2019-01-11
2019-01-11 15:44:00 2,594.4900 18.3300  2019-01-11
2019-01-11 15:45:00 2,594.8600 18.3300  2019-01-11
2019-01-11 15:46:00 2,595.0500 18.3300  2019-01-11
2019-01-11 15:47:00 2,595.8300 18.3300  2019-01-11
2019-01-11 15:48:00 2,595.7400 18.2500  2019-01-11
2019-01-11 15:49:00 2,595.5000 18.2500  2019-01-11
2019-01-11 15:50:00 2,595.8100 18.2500  2019-01-11
2019-01-11 15:51:00 2,595.8900 18.2500  2019-01-11
2019-01-11 15:52:00 2,595.7400 18.3100  2019-01-11
2019-01-11 15:53:00 2,595.9000 18.3100  2019-01-11
2019-01-11 15:54:00 2,595.1000 18.3100  2019-01-11
2019-01-11 15:55:00 2,595.5600 18.3100  2019-01-11
2019-01-11 15:56:00 2,595.2600 18.3100  2019-01-11
2019-01-11 15:57:00 2,595.4800 18.3100  2019-01-11
2019-01-11 15:58:00 2,594.9700 18.1800  2019-01-11
2019-01-11 15:59:00 2,594.8600 18.1800  2019-01-11
2019-01-11 16:00:00 2,596.0200 18.1800  2019-01-11

[3118 rows x 3 columns]

In [118]:
pd.merge_asof(left=latest_calls[(latest_calls.index < dt.datetime(2019,1,3)) &
                                (latest_calls.Strike >= 2490) &
                                (latest_calls.Strike <= 2520)].sort_index(),
              right=index_intraday[['VIX']],
              right_index=True,
              left_index=True,
              direction='nearest',
              tolerance=tol).dropna(subset = ['VIX'])[['Strike','IV',
                                                       'Underlying_Price',
                                                       'VIX']].reset_index().set_index(['quoteTime',
                                                                                        'Strike'])

                                   IV  Underlying_Price     VIX
quoteTime           Strike
2019-01-02 09:30:00 2,490.0000 0.2483        2,473.2900 27.5800
                    2,495.0000 0.2427        2,473.2900 27.5800
                    2,500.0000 0.2343        2,473.2900 27.5800
                    2,505.0000 0.2452        2,473.2900 27.5800
                    2,510.0000 0.2491        2,473.2900 27.5800
                    2,515.0000 0.2475        2,473.2900 27.5800
                    2,520.0000 0.2433        2,473.2900 27.5800
2019-01-02 09:34:00 2,490.0000 0.2618        2,471.2500 27.5800
                    2,500.0000 0.2567        2,471.2500 27.5800
                    2,505.0000 0.2556        2,471.2500 27.5800
                    2,515.0000 0.2565        2,471.2500 27.5800
2019-01-02 09:35:00 2,520.0000 0.2516        2,471.2500 27.5800
                    2,495.0000 0.2599        2,471.2500 27.5800
                    2,510.0000 0.2550        2,471.2500 27.5800
2019-01-02 09:39:00 2,515.0000 0.2481        2,473.1700 27.4700
                    2,505.0000 0.2459        2,473.1700 27.4700
2019-01-02 09:40:00 2,510.0000 0.2460        2,473.1700 27.4700
                    2,520.0000 0.2438        2,473.1700 27.4700
                    2,495.0000 0.2482        2,473.1700 27.4700
                    2,490.0000 0.2491        2,473.1700 27.4700
                    2,500.0000 0.2460        2,473.1700 27.4700
2019-01-02 09:45:00 2,490.0000 0.2232        2,476.9500 26.9200
                    2,495.0000 0.2248        2,476.9500 26.9200
                    2,500.0000 0.2248        2,476.9500 26.9200
                    2,505.0000 0.2264        2,476.9500 26.9200
                    2,510.0000 0.2280        2,476.9500 26.9200
                    2,515.0000 0.2313        2,476.9500 26.9200
                    2,520.0000 0.2284        2,476.9500 26.9200
2019-01-02 09:50:00 2,515.0000 0.2222        2,479.4500 26.9200
                    2,520.0000 0.2207        2,479.4500 26.9200
...                               ...               ...     ...
2019-01-02 15:40:00 2,490.0000 0.1581        2,495.5500 24.0100
                    2,500.0000 0.1283        2,495.5500 24.0100
2019-01-02 15:45:00 2,490.0000 0.2399        2,495.8000 23.9400
                    2,495.0000 0.2187        2,495.8000 23.9400
                    2,500.0000 0.1124        2,495.8000 23.9400
                    2,505.0000 0.1243        2,495.8000 23.9400
                    2,510.0000 0.0955        2,495.8000 23.9400
                    2,515.0000 0.0961        2,495.8000 23.9400
                    2,520.0000 0.0982        2,495.8000 23.9400
2019-01-02 15:50:00 2,510.0000 0.0730        2,499.0400 23.7800
                    2,520.0000 0.0870        2,499.0400 23.7800
                    2,505.0000 0.0775        2,499.0400 23.7800
                    2,515.0000 0.0833        2,499.0400 23.7800
                    2,495.0000 0.0543        2,499.0400 23.7800
                    2,490.0000 0.0000        2,499.0400 23.7800
                    2,500.0000 0.0701        2,499.0400 23.7800
2019-01-02 15:55:00 2,515.0000 0.0554        2,502.9900 23.5100
                    2,510.0000 0.0523        2,502.9900 23.5100
                    2,505.0000 0.0402        2,502.9900 23.5100
                    2,520.0000 0.0733        2,502.9900 23.5100
                    2,495.0000 0.0000        2,502.9900 23.5100
                    2,490.0000 0.0000        2,502.9900 23.5100
                    2,500.0000 0.0350        2,502.9900 23.5100
2019-01-02 15:59:00 2,490.0000 0.0000        2,510.7900 23.3400
                    2,495.0000 0.0000        2,510.7900 23.3400
                    2,500.0000 0.0000        2,510.7900 23.3400
                    2,505.0000 0.0000        2,510.7900 23.3400
                    2,510.0000 0.0000        2,510.7900 23.3400
                    2,515.0000 0.0268        2,510.7900 23.3400
                    2,520.0000 0.0413        2,510.7900 23.3400

[553 rows x 3 columns]

In [123]:
option_underlying = latest_calls[['Underlying_Price']][~latest_calls.index.duplicated(keep='first')].sort_index()

latest_spx.index.date

array([datetime.date(2019, 1, 1), datetime.date(2019, 1, 1),
       datetime.date(2019, 1, 1), ..., datetime.date(2019, 1, 11),
       datetime.date(2019, 1, 11), datetime.date(2019, 1, 11)], dtype=object)

In [153]:
test_opening = spx_intraday.drop_duplicates('Date', keep='first')
test_closing = spx_intraday.drop_duplicates('Date', keep='last')


test_opening[test_opening.index.minute != 30]

                          Last        Date
index
2018-08-07 09:31:00 2,857.3500  2018-08-07
2018-08-30 12:40:00 2,908.3899  2018-08-30
2018-11-28 11:28:00 2,691.1699  2018-11-28

In [156]:
test_closing[(test_closing.index.hour != 16) | 
             (test_closing.index.minute != 0)]

                          Last        Date
index
2018-08-07 13:07:00 2,861.7500  2018-08-07
2018-08-30 20:50:00 2,901.1300  2018-08-30
2018-11-28 19:38:00 2,743.7900  2018-11-28
2018-11-30 14:10:00 2,748.5100  2018-11-30

In [192]:
minutes = spx_intraday.groupby('Date').count()
minutes = minutes.reset_index()
minutes.groupby('Last').count()
minutes[minutes['Last'] != 391]

           Date  Last
5    2018-08-07   217
7    2018-08-09   389
8    2018-08-10   389
13   2018-08-17   387
19   2018-08-27   389
20   2018-08-28   389
22   2018-08-30   491
36   2018-09-19   390
46   2018-10-03   390
47   2018-10-04   390
48   2018-10-05   390
56   2018-10-17   390
61   2018-10-24   386
62   2018-10-25   390
86   2018-11-28   475
87   2018-11-29   383
88   2018-11-30   280
100  2018-12-18   390
109  2018-12-31   380
111  2019-01-02   390
114  2019-01-07   390

In [194]:
test_day = spx_intraday[spx_intraday.Date == dt.date(2018,8,9)]
test_day['timediff'] = test_day.index.to_series().diff().dt.seconds
test_day[test_day.timediff != 60]

                          Last        Date  timediff
index
2018-08-09 09:30:00 2,857.5300  2018-08-09       nan
2018-08-09 13:14:00 2,859.1500  2018-08-09  120.0000
2018-08-09 13:54:00 2,860.3500  2018-08-09  120.0000

In [214]:
py_greeks.delta('c', 2610.13, 2615, 1/252, 0.024, 0.157)

0.42714891557273643