In [ ]:
# Importing necessary models
import warnings
warnings.filterwarnings('ignore')

import smtplib
import pandas as pd
import numpy as np
import datetime as dt
import pandas.stats.moments as st
import sqlite3 as sql
import time
%matplotlib inline
import os
main_dir = os.getcwd()

from option_slam_earnings_db import *
os.chdir('C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Trading\\Modules\\DataCollection')

from yahoo_query import *
from reuters_query import reuters_query
from alphaquery import alphaquery

os.chdir('C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Trading\\Modules\\Earnings')
from yahoo_earnings import *

os.chdir('C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Data\\Stock Universe')
cad_stocks = pd.read_csv('cad_names.csv')['Symbol'].tolist()
usd_stocks = pd.read_csv('us_names.csv')['Symbol'].tolist()

os.chdir('C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Data\\DBs')

In [ ]:
conn_yahoo = sql.connect('yahoo.db')
conn_reuters = sql.connect('reuters.db')
conn_optionslam = sql.connect('optionslam.db')
conn_alphaquery = sql.connect('alphaquery.db')
#conn.close()
# Functions to create tables

def create_tables(db_name = 'nba'):
    conn = sqlite3.connect('{}.db'.format(db_name))
    cur = conn.cursor()
    
    # Creating Players Table
    cur.execute('DROP TABLE IF EXISTS players ')
    cur.execute('CREATE TABLE players (player_id INTEGER PRIMARY KEY, firstname TEXT, lastname TEXT, player_link TEXT, \
                                       college_id INTEGER, team_id INTEGER, total_points INTEGER)')
    
    # Creating Colleges Table
    cur.execute('DROP TABLE IF EXISTS colleges ')
    cur.execute('CREATE TABLE colleges (college_id INTEGER PRIMARY KEY, college_name TEXT)')
    
    # Creating Teams Table
    cur.execute('DROP TABLE IF EXISTS teams ')
    cur.execute('CREATE TABLE teams (team_id INTEGER PRIMARY KEY, team_name TEXT)')
    
    conn.close()
    return

def insert_player(player, db_name = 'nba'):
    conn = sqlite3.connect('{}.db'.format(db_name))
    cur = conn.cursor()
    
    cur.execute('INSERT INTO players (player_id, firstname, lastname, player_link, \
                                      college_id, team_id, total_points) VALUES \
                                     ( ?, ?, ?, ?, ?, ?, ? )', 
    ( player['player_id'], player['firstname'], player['lastname'], 
      player['player_link'], player['college'], player['team'], player['total_points'] ) )

    conn.commit()
    conn.close()
    return

def insert_teams(teams, db_name = 'nba'):
    conn = sqlite3.connect('{}.db'.format(db_name))
    cur = conn.cursor()
    
    for team_name, team_id in teams.items():
        cur.execute('INSERT INTO teams (team_id, team_name) VALUES ( ?, ?)', 
                    ( team_id, team_name ) )

    conn.commit()
    conn.close()
    return

def insert_colleges(colleges, db_name = 'nba'):
    conn = sqlite3.connect('{}.db'.format(db_name))
    cur = conn.cursor()
    
    for college_name, college_id in colleges.items():
        cur.execute('INSERT INTO colleges (college_id, college_name) VALUES ( ?, ?)', 
                    ( college_id, college_name ) )

    conn.commit()
    conn.close()
    return